In [1]:
from cif import cif

In [ ]:
data, subjects, measures = cif.createDataFrameFromOECD(countries = ['USA'], dsname = 'MEI_FIN', frequency = 'M')

In [ ]:
cif.getOECDJSONStructure(dsname='MEI_FIN')

In [ ]:
SUBJECT, LOCATION, FREQUENCY, TIME_PERIOD = cif.createDataFrameFromOECD(dsname = 'MEI_FIN', frequency = 'M')

In [ ]:
import pandas as pd

def get_from_oecd(sdmx_query):
    return pd.read_csv(
        f"https://stats.oecd.org/SDMX-JSON/data/{sdmx_query}?contentType=csv"
    )

print(get_from_oecd("MEI_BOP6").head())

In [5]:
data, subjects, measures = cif.createDataFrameFromOECD(countries = ['USA','AUS'], dsname = 'MEI', frequency = 'Q')

Requesting URL http://stats.oecd.org/SDMX-JSON/data/MEI/USA...Q/all
Data downloaded from https://stats.oecd.org/SDMX-JSON/data/MEI/USA...Q/all?dimensionAtObservation=AllDimensions
Requesting URL http://stats.oecd.org/SDMX-JSON/data/MEI/AUS...Q/all
Data downloaded from https://stats.oecd.org/SDMX-JSON/data/MEI/AUS...Q/all?dimensionAtObservation=AllDimensions

In [6]:
cif.getOECDJSONStructure(dsname = 'MEI', showValues = [])

Requesting URL http://stats.oecd.org/SDMX-JSON/dataflow/MEI/all

Structure: LOCATION, SUBJECT, MEASURE, FREQUENCY, TIME_PERIOD

In [7]:
data

country      USA                                                        \
subject B6BLPI01                            B6BLSE01
measure     CXCU   CXCUSA     NCCU   NCCUSA     CXCU   CXCUSA     NCCU
time
1955-Q1      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1955-Q2      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1955-Q3      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1955-Q4      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1956-Q1      NaN      NaN      NaN      NaN      NaN      NaN      NaN
...          ...      ...      ...      ...      ...      ...      ...
2020-Q1  52895.0  52152.0  52895.0  52152.0  61737.0  64051.0  61737.0
2020-Q2  33325.0  33342.0  33325.0  33342.0  59715.0  60791.0  59715.0
2020-Q3  47972.0  48218.0  47972.0  48218.0  54187.0  56056.0  54187.0
2020-Q4  47382.0  47861.0  47382.0  47861.0  58232.0  52972.0  58232.0
2021-Q1      NaN      NaN      NaN      NaN      NaN      NaN      NaN

country                             ...        AUS                      \
subject          B6BLSI01           ...   XTIMVA01
measure   NCCUSA     CXCU   CXCUSA  ...       GPSA       GYSA     NCML
time                                ...
1955-Q1      NaN      NaN      NaN  ...        NaN        NaN   0.4382
1955-Q2      NaN      NaN      NaN  ...        NaN        NaN   0.4463
1955-Q3      NaN      NaN      NaN  ...        NaN        NaN   0.4077
1955-Q4      NaN      NaN      NaN  ...        NaN        NaN   0.4011
1956-Q1      NaN      NaN      NaN  ...        NaN        NaN   0.4003
...          ...      ...      ...  ...        ...        ...      ...
2020-Q1  64051.0 -36864.0 -37083.0  ...  -8.040904 -12.515308  70.5880
2020-Q2  60791.0 -35507.0 -35903.0  ...  -2.853512 -13.672953  69.2180
2020-Q3  56056.0 -37718.0 -37737.0  ...   9.062219  -2.123296  73.3780
2020-Q4  52972.0 -36995.0 -36361.0  ...   9.391465   6.580944  80.4100
2021-Q1      NaN      NaN      NaN  ...  11.107071  28.773521  75.3340

country                                                                  \
subject                         XTNTVA01
measure     NCMLSA       STSA       CXML     CXMLSA     NCML     NCMLSA
time
1955-Q1   0.451025        NaN        NaN        NaN  -0.0095  -0.038924
1955-Q2   0.437783        NaN        NaN        NaN  -0.0525  -0.048451
1955-Q3   0.410262        NaN        NaN        NaN  -0.0711  -0.004583
1955-Q4   0.402987        NaN        NaN        NaN   0.0357  -0.010292
1956-Q1   0.414564        NaN        NaN        NaN  -0.0934  -0.122377
...            ...        ...        ...        ...      ...        ...
2020-Q1  73.066771  14.437905  13.740929  13.219239  20.8980  20.104584
2020-Q2  71.330455  15.232404  14.423416  12.807728  22.0060  19.540922
2020-Q3  71.323788  14.648640   8.405704   9.760626  11.7510  13.645154
2020-Q4  76.386279  15.049141  10.874165  11.988094  14.8930  16.418611
2021-Q1  80.210087        NaN  18.764784  17.679191  24.2770  22.872511

country
subject
measure      STSA
time
1955-Q1       NaN
1955-Q2       NaN
1955-Q3       NaN
1955-Q4       NaN
1956-Q1       NaN
...           ...
2020-Q1  3.972641
2020-Q2  4.172905
2020-Q3  2.802472
2020-Q4  3.234691
2021-Q1       NaN

[265 rows x 1727 columns]

In [8]:
subjects

           id                                               name
0    LCEAPR01  Labour Compensation > Earnings > Private secto...
1    XTNTVA01  International Trade > Net trade > Value (goods...
2    CCRETT02  Currency Conversions > Real effective exchange...
3    XTIMVA01  International Trade > Imports > Value (goods) ...
4    PRMNTO01  Production > Manufacturing > Total manufacturi...
..        ...                                                ...
342  P6OIOA03  International investment position BPM6 > Other...
345  P6OILB03  International investment position BPM6 > Other...
346  P6ADMP03  International investment position BPM6 > Adjus...
347  P6ADOV02  International investment position BPM6 > Adjus...
352  P6ADTT01  International investment position BPM6 > Adjus...

[411 rows x 2 columns]

In [9]:
measures

        id                                               name
0     STSA             Level, rate or national currency, s.a.
1   IXOBSA                               Index 2015=100, s.a.
2     NCML                   National currency, monthly level
3   NCMLSA             National currency, monthly level, s.a.
4   CXMLSA                    US Dollars, monthly level, s.a.
5     IXOB                                     Index 2015=100
6     GPSA                  Growth rate previous period, s.a.
7     GYSA        Growth rate same period previous year, s.a.
8       GY              Growth rate same period previous year
9       ST                   Level, rate or national currency
10      ML                                      Monthly level
11    MLSA                                Monthly level, s.a.
12      GP                        Growth rate previous period
13    CXML                          US Dollars, monthly level
14  CXCUSA   US Dollars, sum over component sub-periods, s.a.
15    CXCU         US Dollars, sum over component sub-periods
16    NCCU  National currency, sum over component sub-periods
17  NCCUSA  National currency, sum over component sub-peri...
18    IXNB                                  Index source base
9       QL                                    Quarterly level
10    QLSA                              Quarterly level, s.a.

In [10]:
data.index

Index(['1955-Q1', '1955-Q2', '1955-Q3', '1955-Q4', '1956-Q1', '1956-Q2',
       '1956-Q3', '1956-Q4', '1957-Q1', '1957-Q2',
       ...
       '2018-Q4', '2019-Q1', '2019-Q2', '2019-Q3', '2019-Q4', '2020-Q1',
       '2020-Q2', '2020-Q3', '2020-Q4', '2021-Q1'],
      dtype='object', name='time', length=265)

In [15]:
data.loc["2020-Q4"].index[2]

('USA', 'B6BLPI01', 'NCCU')

In [17]:
measures[measures["id"]=="CXCU"]

      id                                        name
15  CXCU  US Dollars, sum over component sub-periods

In [19]:
subjects[subjects["id"]=="B6BLSE01"]

           id                                               name
261  B6BLSE01  Balance of payments BPM6 > Current account Bal...

In [18]:
data.columns

MultiIndex([('USA', 'B6BLPI01',   'CXCU'),
            ('USA', 'B6BLPI01', 'CXCUSA'),
            ('USA', 'B6BLPI01',   'NCCU'),
            ('USA', 'B6BLPI01', 'NCCUSA'),
            ('USA', 'B6BLSE01',   'CXCU'),
            ('USA', 'B6BLSE01', 'CXCUSA'),
            ('USA', 'B6BLSE01',   'NCCU'),
            ('USA', 'B6BLSE01', 'NCCUSA'),
            ('USA', 'B6BLSI01',   'CXCU'),
            ('USA', 'B6BLSI01', 'CXCUSA'),
            ...
            ('AUS', 'XTIMVA01',   'GPSA'),
            ('AUS', 'XTIMVA01',   'GYSA'),
            ('AUS', 'XTIMVA01',   'NCML'),
            ('AUS', 'XTIMVA01', 'NCMLSA'),
            ('AUS', 'XTIMVA01',   'STSA'),
            ('AUS', 'XTNTVA01',   'CXML'),
            ('AUS', 'XTNTVA01', 'CXMLSA'),
            ('AUS', 'XTNTVA01',   'NCML'),
            ('AUS', 'XTNTVA01', 'NCMLSA'),
            ('AUS', 'XTNTVA01',   'STSA')],
           names=['country', 'subject', 'measure'], length=1727)

In [21]:
subjects.name[0]

0    Labour Compensation > Earnings > Private secto...
0    Labour Compensation > Earnings > All activitie...
Name: name, dtype: object

In [ ]:
df[['First','Last']] = df.Name.str.split(" ",expand=True,)

In [22]:
subjects.name[0].str.split(">", expand= True)

                      0           1                 2        3
0  Labour Compensation    Earnings    Private sector    Hourly
0  Labour Compensation    Earnings    All activities    Weekly